<table class="table table-responsive table-bordered table-hover">
  <thead>
    <tr>
      <th>id</th>
      <th>name</th>
      <th>results</th>
      <th>sector</th>
      <th>siren</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let list of list1">
      <td>{{ list.id }}</td>
      <td>{{ list.name }}</td>
      <td>{{ list.results }}</td>
      <td>{{ list.sector }}</td>
      <td>{{ list.siren }}</td>
      <td>
        <a href="list1/{{ list.id }}"> Détails </a>
      </td>
    </tr>
  </tbody>
</table>
